header, nav, footer {
    border:1px solid greenyellow;
    text-align:center;
    background:greenyellow;
    margin:5px;
}

section{
    border:1px solid black;
    background-image: greenyellow;
    margin:5px;
}
}

.wrapper {
    display:flex;
}
article{
    flex:3;
}
aside{
    flex:1;
}
}
footer {
    background:darkgrey;
    color:white;
}

@media only screen and (max-width: 660px) {
    section {
      flex-direction:column;
    }

